## Populating DataFrames to Postgres SQL Tables in crowdfunding_DB

In [53]:
# Importing Dependencies
import pandas as pd
from sqlalchemy import create_engine

# Creating a new engine to connect to crowdfunding_db in PostgresSQL 
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/crowdfunding_db')

# Reading category file into Pandas DataFrame
df = pd.read_csv('Resources/category.csv')

# Populating Category Table in crowdfunding_db
primary_key_column = 'category_id'
df.to_sql('Category', con=engine, index=False, if_exists='append')

df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [54]:
# Reading subcategory file into Pandas DataFrame
df = pd.read_csv('Resources/subcategory.csv')

# Populating Subcategory Table in crowdfunding_db
primary_key_column = 'subcategory_id'
df.to_sql('Subcategory', con=engine, index=False, if_exists='append')

df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [55]:
# Reading contacts file into Pandas DataFrame
df = pd.read_csv('Resources/contacts.csv')

# Populating Contacts Table in crowdfunding_db
primary_key_column = 'contact_id'
df.to_sql('Contacts', con=engine, index=False, if_exists='append')

df

,contact_id,first_name,last_name,email
0,4661,Cecilia,Velasco,cecilia.velasco@rodrigues.fr
1,3765,Mariana,Ellis,mariana.ellis@rossi.org
2,4187,Sofie,Woods,sofie.woods@riviere.com
3,4941,Jeanette,Iannotti,jeanette.iannotti@yahoo.com
4,2199,Samuel,Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...,...
995,3684,Whitney,Noack,whitney.noack@laboratorios.org
996,5784,Gelsomina,Migliaccio,gelsomina.migliaccio@junk.com
997,1498,Evangelista,Pereira,evangelista.pereira@thompson-peterson.biz
998,6073,Gareth,Comolli,gareth.comolli@tiscali.fr
999,4939,Michelangelo,Hess,michelangelo.hess@bouygtel.fr

In [56]:
# Reading campaign file into Pandas DataFrame
df = pd.read_csv('Resources/campaign.csv')

# Populating Campaign Table in crowdfunding_db
primary_key_column = 'cf_id'
foreign_key_column1 = 'contact_id'
foreign_key_column2 = 'category_id'
foreign_key_column3 = 'subcategory_id'
df.to_sql('Campaign', con=engine, index=False, if_exists='append')

df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat4,subcat4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29,2021-05-30,cat1,subcat1
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15,2021-11-30,cat4,subcat4
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06,2021-12-10,cat4,subcat4
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08,2021-04-11,cat2,subcat8
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30,2021-08-18,cat1,subcat1

In [57]:
with engine.connect() as con:
    ab = con.execute(f'SELECT * FROM "Category";')

In [58]:
print(list(ab))

[('cat1', 'food'), ('cat2', 'music'), ('cat3', 'technology'), ('cat4', 'theater'), ('cat5', 'film & video'), ('cat6', 'publishing'), ('cat7', 'games'), ('cat8', 'photography'), ('cat9', 'journalism')]